<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Learn Photoshop</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/images/favicon.png" rel="icon">
    <link href="../static/images/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css"  rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Vendor CSS Files -->
    <link href="../static/aos/aos.css" rel="stylesheet" th:href="@{/aos/aos.css}">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link href="../static/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" th:href="@{/bootstrap-icons/bootstrap-icons.css}">
    <link href="../static/boxicons/css/boxicons.min.css" rel="stylesheet" th:href="@{/boxicons/css/boxicons.min.css}">
    <link href="../static/glightbox/css/glightbox.min.css" rel="stylesheet" th:href="@{/glightbox/css/glightbox.min.css}">
    <link href="../static/remixicon/remixicon.css" rel="stylesheet" th:href="@{/remixicon/remixicon.css}">
    <link href="../static/swiper/swiper-bundle.min.css" th:href="@{/swiper/swiper-bundle.min.css}" rel="stylesheet">

</head>
<body>


<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">


        <h1 class="logo me-auto"><a href="home.html" th:href="@{/home}">Learn PS</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">Classes</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li class="dropdown"><a href="#"><span>Course</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Intro to Graphic Design</a></li>
                        <li class="dropdown"><a href="#"><span>Adobe Packets</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Adobe Illustrator</a></li>
                                <li><a href="#">Adobe XD</a></li>
                                <li><a href="#">Adobe AfterEffects</a></li>
                                <li><a href="#">Adobe DreamWeaver</a></li>
                                <li><a href="#">React Native Apps</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Adobe Packet</a></li>
                        <li><a href="#">Intro To Photoshop</a></li>
                        <li><a href="#">Mastering Photoshop</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<section id="hero" class="d-flex align-items-center">


    <div class="container">
        <div class="row">
            <div class="d-block">

                    <div class="d-block pt-1 col-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="text-secondary">Enis Zenuni</p>
                                Created my first Photoshop Vector today
                                I tried to illustrate the car image we got on our task with sligtly few changes
                                <span><a href="#">...</a></span>
                            </div>
                        </div>
                    </div>


                <br> <br>
                <div class="d-block pt-1 col-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-secondary">Enis Enis</p>
                            Hue Saturation shadows and higlights this tool is really good when you are working with photography
                            Lets you change the image composition and
                            <span><a href="#">...</a></span>
                        </div>
                    </div>
                </div>

                <br> <br>
                <div class="d-block pt-1 col-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-secondary">Zenuni Zenuni</p>
                            Im stuck with the coloring of the last weeks assignment
                            For some reason my Photoshop application closes everytime I pick the Color Picker
                            <span><a href="#">...</a></span>
                        </div>
                    </div>
                </div>

                <br>

                <button class="d-block pb-3 col-3 btn btn-outline-light">Add Post</button>

            </div>
        </div>
    </div>

</section><!-- End Hero -->

<span class="text-center d-flex justify-content-center pt-5">ALL RIGHTS RESERVED</span> <br>
<span class="text-center d-flex justify-content-center">© LEARN PHOTOSHOP</span>





</body>
</html>